/* reset css */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ol,
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  line-height: 150%;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #000;
  height: 100%;
  background-color: #fffdfa;
  scroll-behavior: smooth;
}

/* wrapper  */

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

/* container */

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */

.header {
  width: 100%;
  height: 80px;
  color: #1a1a18;

  position: fixed;
  top: 0;
  background-color: #fffdfa;
  z-index: 1000;
}
/* dinamyc classes */
.fixed {
  position: fixed;
  z-index: 100;
  transition: all 0.2s ease-in-out;

  background-color: #fffdfa;
}

.header-nav__item.active {
  opacity: 0.7;
}

.zero {
  display: none;
}

/* /dinamyc clases */

.header-topline {
  background-color: #1a1a18;
  height: 20px;
  margin-bottom: 7px;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.header-content .logo {
  position: relative;
  cursor: pointer;
}

.nav {
  padding: 0px 5px 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: 2px solid #000;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0px 0px 8px;
  border-bottom: 2px solid #f4902b;
}

.header-nav__item {
  font-size: 20px;
  line-height: 24.2px;
  font-weight: 600;
  transition: opacity 0.2s linear;
}
.header-nav__item:hover {
  opacity: 70%;
  cursor: pointer;
}

.telephone {
  cursor: pointer;
  position: relative;
  width: 236px;
  height: 53px;
}

/* main */
.main {
  flex: 1 1 auto;
  width: 100%;
}
/* section intro */
.section-intro {
  margin: 62px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-intro__img {
  height: 644px;
  width: 635px;
}

.section-intro__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  height: 700px;
  max-width: 507px;
}

.section-intro__text h2 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
}

.section-intro__text h3 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.section-intro__text h4 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #545454;
}

.intro-text__request {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.request-title {
  width: 204px;
  margin-right: 50px;
}
.request-img {
  cursor: pointer;
  transition: opacity 0.2s linear;
  width: 160px;
  height: 160px;
}

.request-img:hover {
  opacity: 70%;
}

.intro-title {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.section-intro__text h1 {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 65px;
}

/*  section list */

.section-list {
  margin: 200px auto 111px;
}

.section-list h1 {
  font-family: Inter;
  font-size: 64px;
  font-weight: 600;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: end;
  color: #000;
  margin: 0 auto;
}

.section-list__content {
  display: flex;
  align-items: center;
  margin-top: 55px;
}

.liders-nav__item {
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  transition: color 0.1s linear;
  padding: 10px 0;
}

.liders-nav__item:hover {
  color: #f4902b;
}
.liders-nav__item:hover::after {
  content: url(./assets/img/list_liders_hovered_arrow.png);
  position: relative;
  top: 8%;
  left: 8%;
}

.section-list__content {
  width: 100%;
  height: 412px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.section-list__images {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
}

.section-list__images img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.12s ease;
  background-color: #fffdfa;
}

.section-list__images img:nth-child(1),
.liders-nav__item:nth-child(1):hover ~ .section-list__images img:nth-child(1),
.liders-nav__item:nth-child(2):hover ~ .section-list__images img:nth-child(2),
.liders-nav__item:nth-child(3):hover ~ .section-list__images img:nth-child(3),
.liders-nav__item:nth-child(4):hover ~ .section-list__images img:nth-child(4),
.liders-nav__item:nth-child(5):hover ~ .section-list__images img:nth-child(5),
.liders-nav__item:nth-child(6):hover ~ .section-list__images img:nth-child(6),
.liders-nav__item:nth-child(7):hover ~ .section-list__images img:nth-child(7),
.liders-nav__item:nth-child(8):hover ~ .section-list__images img:nth-child(8),
.liders-nav__item:nth-child(9):hover ~ .section-list__images img:nth-child(9) {
  opacity: 1;
}

/* section-goods */

.section-goods {
  background-color: #1a1a18;

  color: #fffdfa;
  padding: 50px 0;
}

.good-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 140px auto 250px;
}

.good-description {
  max-width: 560px;
}

.item-title {
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 40px;
}

.item-img img {
  max-width: 570px;
  max-height: 570px;
  animation-play-state: paused;
}

.item-subtitle {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 70px;
}

.item-description {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.5;
  margin-bottom: 70px;
  max-width: 496px;
}

.item-end {
  display: flex;
  align-items: center;
  justify-content: start;
}

.item-end a {
  text-transform: uppercase;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 10px 23.5px;
  border: 2px solid #fffdfa;
  border-radius: 4px;
  background-color: #545454;
  margin-right: 50px;
  transition: all 0.12s linear;
}
.item-end a:hover {
  background-color: transparent;
  opacity: 0.7;
}

.reverse {
  flex-direction: row-reverse;
}

/* section brand */

.section-brand {
  margin: 110px auto;
}

.hugong-brand {
  margin-bottom: 200px;
}

.about-brand__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-brand {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

/* section-about */

.section-about {
  margin: 180px 0;
}

.section-about p {
  margin: 10px 0;
}
.map-2 {
  margin-right: 90px;
}

.brand-text__belarus {
  height: 450px;
  margin-bottom: 50px;
}

.bottom-block__logo {
  position: relative;
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
}

.bottom-block__logo img {
  width: 240px;
  height: 50px;
}

.bottom-block__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-title__first {
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.bottom-title__second {
  font-family: Inter;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
}

/* footer */
.footer {
  width: 100%;
  background-color: #1a1a18;
  color: #fffdfa;
  height: 88px;
}

.container-footer__inner {
  margin: auto;
  width: 100%;
  height: 88px;
}

.footer-content {
  display: flex;
  margin: 0 auto;
  height: 88px;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  width: 50%;
  display: flex;
}

@media screen and (max-width: 715px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
  }
  .footer-content {
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
  }
  .footer-nav {
    width: 100%;
    margin: 15px auto;
  }
  .footer-nav__item {
    margin: 0 auto;
  }
}

.footer-nav li {
  padding: 11px 19px;
  border: 2px solid #fffdfa;
  border-radius: 5px;
  text-transform: uppercase;
  margin-right: 35px;
  font-size: 14px;
  font-weight: 900;
}

.footer-nav__item {
  cursor: pointer;
}

.footer-nav__item:hover {
  background-color: #545454;
}

.footer-nav__item:hover img {
  opacity: 0.7;
}

.nav-item__arrow {
  margin-right: 10px;
}

.copyright {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: end;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.5px;
  color: #545454;
}
