/* reset css */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ol,
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  line-height: 150%;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #000;
  height: 100%;
}

/* wrapper  */

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

/* container */

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */

.header {
  width: 100%;
  height: 80px;
  color: #1a1a18;
  background-color: #fffdfa;
  position: relative;
}
.header-topline {
  background-color: #1a1a18;
  height: 20px;
  margin-bottom: 7px;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.header-content .logo {
  position: relative;
}

.header-content .logo::before {
  content: url(./assets/img/left_line.png);
  position: absolute;
  top: 0;
  left: -187%;
  z-index: 1;
}

.nav {
  margin: 0px 20px 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.header-content .logo::after {
  content: url(./assets/img/central_line.png);
  position: absolute;
  top: 0;
  left: 91%;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.header-nav__item {
  font-size: 20px;
  line-height: 24.2px;
  font-weight: 600;
}
.header-nav__item:hover {
  opacity: 70%;
  cursor: pointer;
}

.telephone {
  cursor: pointer;
  position: relative;
}

.telephone::after {
  content: url(./assets/img/right_line.png);
  position: absolute;
  top: 0;
  left: 90%;
  z-index: 1;
}

/* main */
.main {
  flex: 1 1 auto;
  width: 100%;
}
/* section intro */
.section-intro {
  margin: 62px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-intro__img {
  height: 644px;
  width: 635px;
}

.section-intro__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  height: 700px;
  max-width: 507px;
}

.section-intro__text h2 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
}

.section-intro__text h3 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.section-intro__text h4 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #545454;
}

.intro-text__request {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.request-title {
  width: 204px;
  margin-right: 50px;
}
.request-img {
  cursor: pointer;
}

.intro-title {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.section-intro__text h1 {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 65px;
}

/*  section list */

.section-list {
  margin: 200px auto 111px;
}

.section-list h1 {
  font-family: Inter;
  font-size: 64px;
  font-weight: 600;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: center;
  color: #000;
  margin: 0 auto;
}

.section-list__content {
  display: flex;
  align-items: center;
  margin-top: 55px;
}

.liders-nav {
  font-family: Inter;
  font-size: 22px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0em;
  width: 100%;
  margin-right: 105px;
  height: 412px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.liders-nav__item {
  transition: all 0.1s linear;
}

.liders-nav__item:hover {
  color: #f4902b;
}
.liders-nav__item:hover::after {
  content: url(./assets/img/list_liders_hovered_arrow.png);
  position: relative;
  top: 8%;
  left: 8%;
}

.section-list__content img {
  width: 951px;
  height: 412px;
}

/* section-goods */

.section-goods {
  background-color: #1a1a18;

  color: #fffdfa;
  padding: 50px 0;
}

.good-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 140px auto;
}

.item-title {
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 40px;
}

.item-subtitle {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 70px;
}

.item-description {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.5;
  margin-bottom: 70px;
}

.item-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-end a {
  text-transform: uppercase;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 10px 23.5px;
  border: 2px solid #fffdfa;
  border-radius: 4px;
  background-color: #545454;
}
.item-end a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.reverse {
  flex-direction: row-reverse;
}

/* section brand */

.section-brand {
  margin: 110px auto;
}

.about-brand__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-brand {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

/* section-about */

.section-about {
  margin: 180px 0;
}
.map-2 {
  margin-right: 90px;
}

.bottom-block__logo {
  position: relative;
  margin-bottom: 159px;
  display: flex;
  justify-content: space-between;
}

.bottom-block__logo img {
  width: 240px;
  height: 50px;
}

.bottom-block__logo::before {
  content: url(./assets/img/left_line.png);
  position: absolute;
  z-index: 1;
  top: 0;
  left: -31%;
}
.bottom-block__logo::after {
  content: url(./assets/img/bottom-logo-block__right_line.png);
  position: absolute;
  z-index: 1;
  top: 0;
  right: -27%;
}

.bottom-block__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-title__first {
  font-family: Inter;
  font-size: 54px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.bottom-title__second {
  font-family: Inter;
  font-size: 44px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
}

/* footer */
.footer {
  width: 100%;
  background-color: #1a1a18;
  color: #fffdfa;
  height: 88px;
}

.container-footer__inner {
  margin: auto;
  width: 100%;
  height: 88px;
}

.footer-content {
  display: flex;
  margin: 0 auto;
  height: 88px;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  width: 50%;
  display: flex;
}

@media screen and (max-width: 715px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
  }
  .footer-content {
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
  }
  .footer-nav {
    width: 100%;
    margin: 15px auto;
  }
  .footer-nav__item {
    margin: 0 auto;
  }
}

.footer-nav li {
  padding: 11px 19px;
  border: 2px solid #fffdfa;
  border-radius: 5px;
  text-transform: uppercase;
  margin-right: 35px;
  font-size: 14px;
  font-weight: 900;
}

.footer-nav__item {
  cursor: pointer;
}

.footer-nav__item:hover a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-nav__item:hover img {
  opacity: 0.7;
}

.nav-item__arrow {
  margin-right: 10px;
}

.copyright {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: end;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.5px;
  color: #545454;
}
